{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Login | Course Compainion</title>
{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>             
        .form label{
            display:none;
        }
        .form2 label{
            display:none;
        }
        .helptext{
          display:none;
        }
        .form ul{
          display:none;
        }.form2 ul{
          display:none;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
<div class="outerContainer col-md-12">

    <div class="container register col-md-12">
        <div class="row col-md-8">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>Welcome</h3>
                <p>CourseCompanion awaits you!</p>
                <input type="submit" name="" value="Registration" id="b" /><br />
            </div>
            <div class="col-md-9 register-right">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                            aria-selected="false">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="true">Student</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Login as Admin</h3>
                        <div class="row register-form">
                            <form method="POST" class="form col-md-6">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="col-md-12">
                                    <input type="submit" class="btnRegister1" value="{{ button }}" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <h3 class="register-heading">Login as Student</h3>
                        <div class="row register-form">
                            <form method="POST" class="form2 col-md-6">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="col-md-12">
                                    <input type="submit" class="btnRegister1" value="{{ button }}" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.getElementById("b").onclick = function () {
        location.href = "register";
    };
    document.getElementById("id_username").placeholder = "Username"
    document.getElementById("id_password").placeholder = "Password"
    document.getElementById("id_username").classList.add("form-control");;
    document.getElementById("id_password").classList.add("form-control");


    document.querySelector(".form2 #id_username").placeholder = "Username"
    document.querySelector(".form2 #id_password").placeholder = "Password"


    document.querySelector(".form2 #id_username").classList.add("form-control");
    document.querySelector(".form2 #id_password").classList.add("form-control");
</script>
{% endblock content %}