{% extends 'base.html' %}
{% load static %}

  {% block title %}<title>CourseCompanion</title>{% endblock title%}

  {% block stylesheets %}
    <!-- Favicon -->
    <!-- <link rel="icon" href="assets/img/brand/favicon.png" type="image/png"> -->
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'css/nucleo.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/sty.css' %}" type="text/css">
	  <!-- <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css"> -->
    
    <style>
      .abc {
        /* padding-top: 40px; */
        padding-left: 50px;
        color: #ffffff;
        font-weight: bolder;
        font-size: 30px;
      }
    
      .abc1 {
        padding-top: 20px;
        padding-left: 50px;
        color: #ffffff;
        font-weight: bolder;
        font-size: 25px;
        align-self: flex-start;
      }

      .videoContainer{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        /* align-content: flex-start; */
        width: inherit;
        margin-top: 6%;
      }
      .videoContainer label{
        align-self: flex-start;
      }
      .videoContainer .video{
        align-self: center;
        /* align-content: center; */
        margin-top: 5%;
        width: inherit;
      }

      .video-list{
        display: flex;
        flex-flow: column wrap;
        text-align: center;
      }
      .list{
        list-style-type: none;
        text-decoration: none;
        padding: 0;
        margin: 0;
      }
      .video-list .video-name{
        padding: 6% 0 6% 0;
      }
      .video-name span{
        margin-right: 3%;
      }
      .active-list-item{
        border-radius: 25px;
        background-color: rgba(211, 195, 195, 0.5);
      }
      
      .abc3 {
        color: #3c3c6a;
        transition: 0.5s all;
      }
      .abc3:hover {
        color: floralwhite;
      }
    </style>
  {% endblock stylesheets %}
</head>



{% block content %}

  <!-- Sidenav -->
  <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header  align-items-center">

        <font color="#525f7f" size="5">
          <h>CourseCompanion</h>
        </font>

      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="dashboard">
                <i class="fa fa-address-card-o" aria-hidden="true"></i>
                <span class="nav-link-text">Dashboard</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="courses">
                <i class="fa fa-book" aria-hidden="true"></i>
                <span class="nav-link-text">Courses</span>
              </a>
            </li>

          </ul>

          <hr class="my-3">

          <div class="video-list" id="video-list">
            <ul class="list"  id="videos">
              <!-- <li class="video-name active-list-item">
                <a href="" class="video-link">
                  <span><i class="fa fa-file-video-o" aria-hidden="true"></i></span>
                  Video1
                </a>
              </li>
              <li class="video-name">
                <a href="" class="video-link">
                  <span><i class="fa fa-file-video-o" aria-hidden="true"></i></span>
                  Video2
                </a>
              </li>
              <li class="video-name">
                <a href="" class="video-link">
                  <span><i class="fa fa-file-video-o" aria-hidden="true"></i></span>
                  Video3
                </a>
              </li> -->
            </ul>
          </div>
          
          <hr class="my-3">

        </div>
      </div>
    </div>
  </nav>
  <!-- Main content -->
  <div class="main-content" id="panel">
    <nav class="navbar navbar-top navbar-expand ">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">


          <!-- Navbar links -->
          <ul class="navbar-nav align-items-center  ml-md-auto ">
            <li class="nav-item d-xl-none">
              <!-- Sidenav toggler -->
              <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin"
                data-target="#sidenav-main">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </div>
            </li>
            <li class="nav-item d-sm-none">
              <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
                <i class="ni ni-zoom-split-in"></i>
              </a>
            </li>


            <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
              <li class="nav-item dropdown">
                <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <div class="media align-items-center">
                    <span class="avatar avatar-sm rounded-circle">
                      <img alt="Image placeholder" src="{% static 'img/team-4.jpg' %}">
                    </span>
                    <div class="media-body  ml-2  d-none d-lg-block">
                      <span class="mb-0 text-sm  font-weight-bold abc3">{{ user }}</span>
                    </div>
                  </div>
                </a>
                <div class="dropdown-menu  dropdown-menu-right ">
                  <div class="dropdown-header noti-title">
                    <h6 class="text-overflow m-0">Welcome!</h6>
                  </div>
                  <a href="#!" class="dropdown-item">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>My profile</span>
                  </a>
                  <a href="#!" class="dropdown-item">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span>Settings</span>
                  </a>
                  <a href="#!" class="dropdown-item">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    <span>Activity</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="/user/logout" class="dropdown-item">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span>Logout</span>
                  </a>
                </div>
              </li>
            </ul>
        </div>
      </div>
    </nav>
    <label class="abc" id='course'>Course Name</label><br>
    <label class="abc1" id='name'>Video Name</label><br>
    <video class="abc2" height="350" width="700" id="video" controls></video>
  </div>

  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/js-cookie/js.cookie.js' %}"></script>
  <script src="{% static 'vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
  <!-- Optional JS -->
  <script src="{% static 'vendor/chart.js/dist/Chart.min.js' %}"></script>
  <script src="{% static 'vendor/chart.js/dist/Chart.extension.js' %}"></script>
  <!-- Argon JS -->
  <script src="{% static 'js/argon.js' %}"></script>
  <script>

    var str = window.location.href.split('/')
    var id = str[str.length-1]
    var course_id = str[5]
    lookup(`http://127.0.0.1:8000/api/video/${id}`,"GET",null,(response,status)=>{
      document.getElementById('video').innerHTML = `<source src="${response.video}" type="video/mp4">`
        document.getElementById('course').innerHTML = response.course
        document.getElementById('name').innerHTML = response.name
    })
    lookup(`http://127.0.0.1:8000/api/course/${course_id}/video`,"GET",null,(response,status)=>{
      var str = ""
      for (i = 0;i<response.length;i++){
      str += `<li class="video-name ` + (id==response[i].id? `active-list-item` : ``) + `">
                <a href="http://127.0.0.1:8000/user/course/11/videos/${response[i].id}" class="video-link">
                  <span><i class="fa fa-file-video-o" aria-hidden="true"></i></span>
                  ${response[i].name}
                </a>
              </li>`
          }
          document.getElementById("videos").innerHTML = str
    })
  </script>
{% endblock content %}