{% extends 'base.html' %}

{% block title %}
Course
{% endblock title %}

{% block content %}

<form method="POST" id='form'>
    {% csrf_token %}
    <input type="hidden" value="{{ course.id }}" id="id">
    <input type="hidden" value="{{ course.name }}" id="courseName">
    <input type="text" name="name" id='name'>
    <input type="file" id="upload">
    <button type="submit">Save</button>
</form>
<script>
    function formBackend(event) {
        event.preventDefault()
        const name = document.getElementById('name').value
        data = {
            name: name,
            video: document.getElementById('courseName').value + '/' + name + ".mp4"
        }
        const id = document.getElementById('id')
        lookup(`http://127.0.0.1:8000/api/create/course/${id.value}/video`,'POST',
        data,(response,status)=>{
            if (status===201){
                console.log(response)
                const ele = document.getElementById('upload')
                firebaseUpload(ele,response.video)
            }
        })
    }
    document.getElementById('form').addEventListener('submit',formBackend)
    
</script>
{% endblock content %}