{% extends 'base.html' %}

{% block title %}
Course
{% endblock title %}

{% block content %}

<form method="POST" id='form'>
    {% csrf_token %}
    <input type="hidden" value="{{ course.id }}" id="id">
    <input type="hidden" value="{{ course.name }}" id="courseName">
    <input type="text" name="name" id='name'>
    <input type="file" id="upload">
    <button type="submit">Save</button>
</form>
<!-- <button onclick="f()"></button> -->
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function firebaseUpload(element,folder,name) {
        var firebaseConfig = {
        apiKey: "AIzaSyDpL_jangAHa-fNG7_UOzaKSBQyH2lOpOM",
        authDomain: "coursecompanion.firebaseapp.com",
        databaseURL:"https://coursecompanion/firebaseio.com",
        projectId: "coursecompanion",
        storageBucket: "coursecompanion.appspot.com",
        messagingSenderId: "502681390731",
        appId: "1:502681390731:web:bcbf9a4154d76a36c34e8e",
        measurementId: "G-BP0GSF1CL1"
    };
    firebase.initializeApp(firebaseConfig);

    var storage = firebase.storage();

    var file = document.getElementById("upload")

        var file = element.files[0]
        var storageRef = firebase.storage().ref(`${folder}/` + name + ".mp4")
        storageRef.put(file);
    }
    

    var form = document.getElementById('form')
    form.addEventListener('submit',(event)=>{
        event.preventDefault()
        const name = document.getElementById('name').value
        const xhr = new XMLHttpRequest()
        xhr.responseType = 'json'
        const id = document.getElementById("id")
        xhr.open('POST',`http://127.0.0.1:8000/api/create/course/${id.value}/video`)
        xhr.setRequestHeader('Content-Type','application/json')
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH","XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With","XMLHttpRequest")
        xhr.setRequestHeader('X-CSRFToken',getCookie('csrftoken'))
        xhr.onload = () =>{
            console.log(xhr.response,xhr.status)
            if (xhr.status===201){
                const name1 = document.getElementById('name').value
                const ele = document.getElementById('upload')
                const course = document.getElementById("courseName")
                firebaseUpload(ele,course.value,name1)
            }
        }
        data = {
            name: name,
            video: name + ".mp4"
        }
        const val = JSON.stringify(data)
        xhr.send(val)
    })
    
</script>
{% endblock content %}