{% extends 'base.html' %}

{% block title %}
<!-- <input type="hidden" value="{{ course.name }}" id='name'> -->
<input type="hidden" value="{{ course.id }}" id='id'>
{% endblock title %}

{% block content %}
<div id="root">
</div>

<script>
    function createVideo(list) {
        var str = ""
        for(i = 0;i<list.length;i++)
        str += `<video width='320' height='240' controls><source src="${list[i].video}" type='video/mp4'>Your browser does not support the video tag.</video><br>`
            console.log(str)
        return str
    }
    function CourseVideoBackend() {
        const id = document.getElementById('id')
        lookup(`http://127.0.0.1:8000/api/course/${id.value}/video`,"GET",null,(response,status)=>{
            k = createVideo(response)
            const root = document.getElementById("root")
            root.innerHTML = k
        })
    }
    CourseVideoBackend()

</script>
{% endblock content %}